# Environments
venv/
.env
*.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.log

# IDEs
.vscode/
.idea/
*.swp

# Docker
*.pid
*.tar
*.img

# File system
.DS_Store
Thumbs.db

# Tests
htmlcov/
.tox/
.pytest_cache/
coverage.xml
*.cover

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars

# Otros
*.db
